@charset "UTF-8";

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
    overflow-x: hidden;
}

#logoSite{
    background-color: green;
    color: white;
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
}


#alinhamentoNav{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px 20px; /* Controla o espaço */
    min-width: 0; /* Controla o espaço */
    flex-shrink: 1; /* Controla o espaço */
    overflow: hidden; /* Tira rolagem */
}

#alinhamentoB{
    display: flex;
    gap: 8px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
}

.botaoNav{
    width: auto;
    min-width: 90px;
    height: 40px;
    background-color: transparent;
    font-size: 0.95em;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    padding: 0 20px;
    white-space: nowrap;
}

.botaoNav:hover{
    cursor: pointer;
    background-color: #0AB8D6;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 8px whitesmoke;
    transition:  0.5s;
}

nav#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #1a1a1a;
    overflow: hidden;
    border-bottom: 2px solid #282828;
}

/* HOME PAGE  */


#Perfil{
    background-color: brown;
    width: 100%;
    display: flex;
}

#Avatar{
    background-color: red;
    height: 500px;
    width: 40%;

}

#quadradoBG{
    background-color: aqua;
    height: 550px;
    width: 55%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    clip-path: polygon(50px 0, calc(100% - 50px) 0, 100% 50px, 100% calc(100% - 50px), calc(100% - 50px) 100%, 50px 100%, 0 calc(100% - 50px), 0 50px);
    border: 1px solid #0A3D66;
}

#Sobre{
    background-color: pink;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#containerSobre{
    display: flex;
    flex: 1;
    gap: 10px;
}

#techSkills{
    background-color: yellow;
    width: 100%;
    height: 300px;
}

#projects{
    background-color: magenta;
    width: 100%;
    height: 300px;
}

.Contato{
    background-color: sandybrown;
    width: 100%;
    height: 300px;
}

#pesquisaFake{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 50px;
}

#alinhamentoSobre{
    background-color: yellow;
    flex: 1;
}

#asideSobre{
    background-color: orange;
    flex: 1;
}

#footer{
    background-color: blueviolet;
    width: 100%;
    height: 300px;
}