@charset "UTF-8";

*{
    margin: 0px;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
}

#logoSite{
    background-color: green;
    width: 20%;
    color: white;
    font-size: 2em;
    text-align: center;
    
}

#alinhamentoNav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.botaoNav{
    width: 120px;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

#Perfil{
    background-color: brown;
    width: 100%;
    display: flex;
}

#Avatar{
    background-color: red;
    height: 500px;
    width: 40%;

}

#quadradoBG{
    background-color: aqua;
    height: 500px;
    width: 55%;
    margin-left: 20px;
}

#Sobre{
    background-color: pink;
    width: 100%;
    height: 300px;
}

#techSkills{
    background-color: yellow;
    width: 100%;
    height: 300px;
}

#projects{
    background-color: magenta;
    width: 100%;
    height: 300px;
}

.Contato{
    background-color: sandybrown;
    width: 100%;
    height: 300px;
}

#footer{
    background-color: blueviolet;
    width: 100%;
    height: 300px;
}